body {
	font-family: "Courier New",Courier,monospace;
	font-style: normal;
  font-weight: 700;
}

#container {
	align-items: center;
	width: 1170px;
}

#main-header {
	background-color: yellow;
	border-style: solid;
  border-width: 10px;
	color: red;
  font-family: 'Baloo Chettan', cursive, sans-serif;
  font-size: 3em;
	margin-left: 62px;
	margin-top: 15px;
	padding: 0px;
	text-align: center;
	width: 1000px;
}

.change-devoured {
	background-color: red;
	color: white;
	font-size: 2em;
	margin-left: 0px;
}

.add{
	text-align: center;
	width: 200px;
}

.not-eaten{
	text-align: center;
}

.eaten{
	text-align: center;
}